.listingsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  padding: 20px 100px;
}

.listingCard {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.listingCard:hover button {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.listingDetails {
  padding: 36px 12px;
  display: flex;
  flex-direction: column;
}
.listingDetails h2 {
  color: #1e1e1e;
  padding: 12px 0;
}

.listingDetails p {
  color: #1e1e1e;
  font-family: "Poppins";
  padding-right: 20px;
}

.listingDetails span {
  font-family: "Poppins";
  font-weight: 400;
}

.listingDetails button {
  padding: 10px 40px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.listingDetails button a {
  color: #1e1e1e;
  font-weight: 600;
}

.listingDetails button:hover {
  cursor: pointer;
  background-color: #1e1e1e;
  transition: 0.3s ease-in-out;
}

.listingDetails button:hover a {
  color: #fff;
}

.btn-group {
  text-align: center;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .listingsContainer {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .listingsContainer {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
