.header{
    padding: 1.2rem;
    box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.41);
-webkit-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.41);
-moz-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.41);
}

.container{
    max-width: 1140px;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__logo img{
    width: 40px;
    height: 40px;
}

.nav__links{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__link{

}

.nav__link a{
    color: #191919;
}